@font-face {
    font-family: 'Corsa Grotesk VN Bold';
    src: url('../fonts/CorsaGroteskVN-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Corsa Grotesk Bold';
    src: url('../fonts/Corsa Grotesk Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Corsa Grotesk XBold';
    src: url('../fonts/Corsa Grotesk XBold.otf') format('opentype');
}
@font-face {
    font-family: 'FivoSans-Light';
    src: url('../fonts/FivoSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'FivoSansVN-Regular';
    src: url('../fonts/FivoSansVN-Regular.otf') format('opentype');
}