.huan-luyen-page {
    font-family: $font_family_FivoSansVN_Regular;
    #header {
        background: #205bdd;
        position: relative;
        display: block;
        width: 100%;
        height: 1186px;
        padding-top: 10px;
        color: #fff;
        #top-header {
            .top-logo-cover {
                img {
                    width: 172px;
                }
            }
            .menu-item {
                color: #fff;
            }
            .menu-item:hover {
                color: #000;
            }
        }

        #banner-header {
            .owl-theme .owl-item {
                animation-duration: 2s;
            }
            .owl-theme .owl-dots .owl-dot {
                background: #163dd6;
                width: 16px;
                 height: 16px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 100%;
                display: inline-block;
                cursor: pointer;
                span {
                    display: none;
                }
                &:focus {
                    outline: 0;
                }
            }
            .owl-theme .owl-dots .active {
                background: #6bcbfe;
            }
            .owl-theme .owl-dots {
                position: absolute;
                margin: 0;
                justify-content: left;
                top: 250px;
                left: 5px;
            }
            .owl-carousel .animate-in .animateFlip {
                animation: flipInY;
                animation-duration: 2s;
                animation-delay: .4s;
            }

            .wrapper-slide-image {
                display: flex;
                flex-direction: column;
                width: 100%;
                .dong {
                    display: flex;
                    justify-content: space-around;
                    flex: 1 1 100%;
                    margin-bottom: 8px;
                    height: 246px;
                    .trong1 {
                        width: 266px;
                    }
                    .image1, .image2, .image3 {
                        width: 246px;
                        margin-right: 8px;
                    }
                    .trong2 {
                        width: 317px;
                    }
                }
            }
            .wrapper-slide-image-1, .wrapper-slide-image-2, .wrapper-slide-image-3, .wrapper-slide-image-4 {
                .dong2 {
                    .trong1 {
                        width: 519px;
                    }
                    .trong2 {
                        width: 62px;
                    }
                }
                .dong3 {
                    .trong1 {
                        width: 1028px;
                    }
                    .trong2 {
                        width: 62px;
                    }
                }
            }

            .wrapper-slide-image-1, .wrapper-slide-image-2 {
                .dong2 {
                    .image1 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 246px;
                            height: 246px;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .image2 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: 8px;
                            top: 100%;
                            width: 246px;
                            height: 246px;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .image3 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            right: -50%;
                            top: -60%;
                            width: 246px;
                            height: 246px;
                            transform: translate(-4px, 4px);
                        }
                    }
                }
            }

            .wrapper-slide-image-3 {
                .dong1 {
                    .image1 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            width: 246px;
                            height: 246px;
                            transform: translate(-75%, -25%);
                        }
                    }
                    .trong2 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 246px;
                            height: 246px;
                        }
                    }
                }

                .dong3 {
                    .image1 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: 25%;
                            top: 60%;
                            width: 246px;
                            height: 246px;
                        }
                    }
                }
            }

            .wrapper-slide-image-4 {
                .dong1 {
                    .image1 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: -40%;
                            top: 0;
                            width: 246px;
                            height: 246px;
                        }
                    }
                    .trong2 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            width: 246px;
                            height: 246px;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .dong3 {
                    .image1 {
                        .overlay-blue {
                            background-image: url(../images/img_bg-7.png);
                            background-size: 100% 100%;
                            background-position: left;
                            background-repeat: no-repeat;
                            opacity: .8;
                            position: absolute;
                            left: -100%;
                            top: 60%;
                            width: 246px;
                            height: 246px;
                        }
                    }
                }
            }

            .banner-text {
                position: absolute;
                left: 0;
                top: 260px;
                h2 {
                    font-size: 76px;
                }
            }

            .ribbon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                transform: rotate(5deg) scaleX(1.2);
                -ms-transform: rotate(5deg) scaleX(1.2); /* IE 9 */
                -moz-transform: rotate(5deg) scaleX(1.2); /* Firefox */
                -webkit-transform: rotate(5deg) scaleX(1.2); /* Safari and Chrome */
                -o-transform: rotate(5deg) scaleX(1.2); /* Opera */
                position: absolute;
                left: -300px;
                right: -300px;
                bottom: 60px;
                padding: 10px 0;
                z-index: 9;
                background-image: linear-gradient(to left, #0045FF, #ABE6ED);
                background-repeat-x: repeat;
                background-repeat-y: no-repeat;
                background-position: center;
                color: #000;
                font-size: 42px;
                overflow-x: hidden;
                white-space: nowrap;
                #maindiv{
                    overflow: hidden;
                    white-space: nowrap;
                  }
                #div1 {
                    display: inline-block;
                    animation: marquee 10s linear infinite;
                }
                
                #div2 {
                    display: inline-block;
                    animation: marquee2 10s linear infinite;
                    animation-delay: 5s;
                }
            }
            .triangle {
                background-image: linear-gradient(to right top, white 0%, white 50%, transparent 50%);
                position: absolute;
                width: 100%;
                height: 200px;
                bottom: 0;
                left: 0px;
            }
        }
    }
      
    @keyframes marquee {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(-100%);
        }
    }
      
    @keyframes marquee2 {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-200%);
        }
    }

    #content {
        .bg-image {
            background-image: url('../images/1.png');
            background-repeat: no-repeat;
            width: 100%;
            height: 430px;
        }
        .bg-image-1 {
            background-image: url('../images/1.png');
        }
        .bg-image-2 {
            background-image: url('../images/2.png');
        }
        .bg-image-3 {
            background-image: url('../images/3.png');
        }
        .text-left-cover {
            display: block;
            padding-top: 50px;
            padding-left: 125px;
            .folder-cover {
                display: flex;
                justify-content: left;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
            h5 {
                font-size: 18px;
                margin: 0;
            }
            h2 {
                font-size: 67px;
            }
        }

        .text-right-cover {
        }

        .text-right-cover-2 {
            display: block;
            padding-top: 60px;
            padding-left: 135px;
            .folder-cover {
                display: flex;
                justify-content: left;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
            h5 {
                font-size: 18px;
                margin: 0;
            }
            h2 {
                font-size: 67px;
            }
        }

        .move-left-1 {
            margin-left: -90px;
        }

        .move-left-2 {
            margin-left: -30px;
        }

        input {
            border: 0;
            color: #000;
            width: 100%;
            padding: 5px;
            font-size: 11px;
            font-weight: 700;
        }

        input:focus {
            outline: 0;
            border: 0;
        }

        textarea {
            width: 100%;
            border: 4px solid #000;
            padding: 10px;
            color: #000;
            font-size: 11px;
            font-weight: 700;
        }

        .book-btn {
            background: linear-gradient(to left, #0045FF, #ABE6ED);
            border-radius: 50px;
            position: relative;
            padding: 7px 45px;
            text-align: center;
            cursor: pointer;
        }
        .book-btn:hover {
            .btn-border {
                background: transparent;
            }
        }
    }

    #doi-tac {
        padding: 30px 0px;
        .personal-cover {
            display: flex;
            align-items: center;

            .text {
                margin-left: 10px;
                h5 {
                    color: #ff4016;
                    font-weight: 700;
                    font-size: 18px;
                }
                p {
                    padding-left: 5px;
                    color: #797979;
                }
            }
        }

        #carouselIndicators {
            margin-bottom: 80px;
            .carousel-indicators {
                margin: 0;
                bottom: -70px;
                .circle {
                    background: #282d40;
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;
                    .center {
                        background: #282d40;
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                    }
                }

                .active {
                    background: #fff;
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;
                    padding: 4px;
                    border: 1px solid #282d40;
                }
            }
        }
    }
}