$font_family_Corsa_Grotesk_VN_Bold: 'Corsa Grotesk VN Bold';
$font_family_Corsa_Grotesk_Bold: 'Corsa Grotesk Bold';
$font_Corsa_Grotesk_XBold: 'Corsa Grotesk XBold';
$font_family_FivoSans_Light: 'FivoSans-Light';
$font_family_FivoSansVN_Regular: 'FivoSansVN-Regular';
$font_family_Circular_Medium: 'Circular-Medium';
$color_black: #000;
$color_white: #fff;
$border: 1px;