@font-face {
  font-family: "Corsa Grotesk VN Bold";
  src: url("../fonts/CorsaGroteskVN-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Corsa Grotesk Bold";
  src: url("../fonts/Corsa Grotesk Bold.otf") format("opentype");
}
@font-face {
  font-family: "Corsa Grotesk XBold";
  src: url("../fonts/Corsa Grotesk XBold.otf") format("opentype");
}
@font-face {
  font-family: "FivoSans-Light";
  src: url("../fonts/FivoSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "FivoSansVN-Regular";
  src: url("../fonts/FivoSansVN-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/circular-medium.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: none;
  box-shadow: none;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

.body-cut-off {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

ul {
  list-style: none;
  margin: 0;
}

.text-xanh-lam {
  color: #b7c0eb;
}

.text-grey {
  color: #d0d0d0;
}

.text-blue {
  color: #0045FF !important;
}

.border-radius-gradient {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  color: #0045FF;
  background: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 25px;
}
.border-radius-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}

.border-radius-transparent {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
  padding: 5px 25px;
  color: #fff;
  background: transparent;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-30 {
  font-size: 30px;
}

.font-40 {
  font-size: 40px;
}

.font-42 {
  font-size: 42px;
}

.font-48 {
  font-size: 48px;
}

.font-50 {
  font-size: 50px;
}

.ml-260 {
  margin-left: 260px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.col-20 {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 1 1 19%;
  max-width: 19%;
}

.a-card {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 239px;
  border: 2px solid #000;
  border-radius: 20px;
}
.a-card .card-title {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #000;
  font-size: 12px;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  margin: 0;
}
.a-card .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  font-size: 50px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.a-card .card-content a {
  font-size: 70px;
  width: 100%;
  text-align: center;
}
.a-card .display-hover {
  display: none;
}

.a-card:hover .display-hover {
  display: flex;
}

.small-card {
  width: 400px;
  height: 230px;
}

.medium-card {
  width: 540px;
  height: 230px;
}

.bg-gradient {
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}

.card-title-radius {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card-content-radius {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.step {
  display: flex;
  justify-content: left;
  align-items: center;
}
.step .circle-tep {
  background: #B7C0EB;
  padding: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 10px;
}
.step .step-name {
  font-size: 10px;
}

.border-bottom {
  border-bottom: 1px solid #000 !important;
}

.border-top {
  border-top: 1px solid #000 !important;
}

.border-left {
  border-left: 1px solid #000 !important;
}

.border-right {
  border-right: 1px solid #000 !important;
}

.border-bottom-blue {
  border-bottom: 1px solid #95acf2 !important;
}

.border-top-blue {
  border-top: 1px solid #95acf2 !important;
}

.border-left-blue {
  border-left: 1px solid #95acf2 !important;
}

.border-right-blue {
  border-right: 1px solid #95acf2 !important;
}

.border-bottom-black {
  border-bottom: 1px solid #414141 !important;
}

.border-top-black {
  border-top: 1px solid #414141 !important;
}

.border-left-black {
  border-left: 1px solid #414141 !important;
}

.border-right-black {
  border-right: 1px solid #414141 !important;
}

.border-bottom-grey {
  border-bottom: 1px solid #797979 !important;
}

.border-top-grey {
  border-top: 1px solid #797979 !important;
}

.border-left-grey {
  border-left: 1px solid #797979 !important;
}

.border-right-grey {
  border-right: 1px solid #797979 !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.headline {
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  color: #164ce2;
  font-size: 11px;
  margin-bottom: 10px;
}
.headline:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}

.border-top-4 {
  border-top: 4px solid #000;
}

.w-85 {
  width: 85% !important;
}

.radio-cover {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-cover input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-cover:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-cover input:checked ~ .checkmark {
  background-color: #000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-cover input:checked ~ .checkmark:after {
  display: block;
}

.radio-cover .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f2f2f2;
}

.page-primary #top-header, .page-secondary #top-header {
  margin: 10px 0 0;
  font-family: "FivoSansVN-Regular";
}
.page-primary #top-header .custom-lichct, .page-secondary #top-header .custom-lichct {
  padding: 5px 15px !important;
}
.page-primary #top-header .menu-item, .page-secondary #top-header .menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  padding: 5px 10px;
  border: solid 1px transparent;
  border-radius: 25px;
  color: #000;
  text-decoration: none;
}
.page-primary #top-header .menu-item:before, .page-secondary #top-header .menu-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: transparent;
}
.page-primary #top-header .logo-link, .page-secondary #top-header .logo-link {
  color: #000;
  text-decoration: none;
}
.page-primary #top-header .border-gradient, .page-secondary #top-header .border-gradient {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  padding: 5px 10px;
  color: #0045FF;
  background: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 25px;
}
.page-primary #top-header .border-gradient:before, .page-secondary #top-header .border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}
.page-primary #top-header .menu-item:hover, .page-secondary #top-header .menu-item:hover {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  padding: 5px 10px;
  color: #0045FF;
  background: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 25px;
}
.page-primary #top-header .menu-item:hover:before, .page-secondary #top-header .menu-item:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}

#footer-menu {
  font-family: "FivoSansVN-Regular";
}
#footer-menu .cover-menu {
  width: 76%;
  background: #fff;
  padding: 10px;
  margin: auto;
}

#footer {
  font-family: "FivoSansVN-Regular";
  background: #F2F2F2;
}
#footer .p-custom {
  padding: 74px 50px;
}
#footer .logo-cover {
  text-align: right;
}
#footer .logo-cover img {
  width: 310px;
  padding-top: 15px;
}
#footer .email-subscribe {
  border: 0;
  padding: 20px;
  border-radius: unset;
}
#footer .email-subscribe:focus, #footer .email-subscribe:active {
  outline: 0;
  border: 0;
  box-shadow: none;
}
#footer .input-group-append .input-group-text {
  border: 0;
  border-radius: unset;
  border-left: 2px solid #eee;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1368px;
  }
}
@media (min-width: 1200px) {
  .custom-container {
    max-width: 1568px;
    margin: auto;
  }
}
.home-page {
  font-family: "Corsa Grotesk VN Bold";
}
.home-page #header {
  overflow: hidden;
  background: #fff;
}
.home-page #header #banner-header {
  background-image: url("../images/img_bg-header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: block;
  position: relative;
  height: 675px;
}
.home-page #header #banner-header .cover-banner-bottom-overlay {
  display: block;
  width: 100%;
  height: 425px;
  background: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.home-page #header #banner-header .cover-banner-bottom-overlay .custom-banner {
  display: block;
  width: 100%;
  height: 425px;
}
.home-page #header #banner-header .cover-banner-bottom-overlay .custom-banner .cover-text-box {
  font-family: "FivoSansVN-Regular";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 290px;
}
.home-page #header #banner-header .cover-banner-bottom-overlay .custom-banner .cover-text-box h2 {
  font-size: 86px;
  margin: 0;
}
.home-page #header .ribbon-1 {
  font-family: "FivoSansVN-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
  transform: rotate(-9deg);
  position: absolute;
  left: -100px;
  right: -100px;
  top: 775px;
  padding: 0px 0;
  z-index: 10;
  overflow-x: hidden;
  white-space: nowrap;
  height: 120px;
}
.home-page #header .ribbon-1 .text {
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(1.6);
  padding-top: 15px;
}
.home-page #header .ribbon-1 .custom-text {
  color: #fff;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.home-page #header .ribbon-1 #maindiv {
  overflow: hidden;
  white-space: nowrap;
}
.home-page #header .ribbon-1 #div1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: marquee 10s linear infinite;
}
.home-page #header .ribbon-1 #div2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: marquee2 10s linear infinite;
  animation-delay: 5s;
}
.home-page #header .ribbon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  transform: rotate(-25deg);
  position: absolute;
  left: -300px;
  right: -300px;
  top: 850px;
  height: 120px;
  z-index: 9;
  background-image: url("../images/capitalx-logo-xeo.png"), linear-gradient(to right, #E1E2E5, #F5F6F7);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: center;
}
.home-page #header .ribbon-2 .text {
  font-size: 50px;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
.home-page #book-section .ceo-book {
  display: flex;
  margin-top: 160px;
  width: 500px;
  padding: 10px 0;
  border: solid 3px transparent;
  background: #fff;
  position: relative;
}
.home-page #book-section .ceo-book:before {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  bottom: -3px;
  left: 0;
  z-index: -1;
  margin-top: -3px;
  margin-bottom: -3px;
  border-radius: inherit;
  background: linear-gradient(to right, #0045FF, #ABE6ED);
}
.home-page #book-section .ceo-book .day-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.home-page #book-section .ceo-book .day-left h4 {
  font-size: 50px;
  color: #f1f1f1;
}
.home-page #book-section .ceo-book .day-left h4 span {
  position: absolute;
  font-size: 14px;
  top: 63%;
  left: -22px;
  z-index: 1;
  color: #999999;
  display: block;
}
.home-page #book-section .ceo-book .avatar-ceo {
  margin-right: 20px;
}
.home-page #book-section .ceo-book .text-cover {
  flex: 1 1 100%;
}
.home-page #book-section .ceo-book .text-cover .bottom-text {
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-size: 12px;
}
.home-page #book-section .ceo-book .text-cover .bottom-text .left-box, .home-page #book-section .ceo-book .text-cover .bottom-text .right-box {
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.home-page #book-section .ceo-book .text-cover .bottom-text .left-box {
  margin-right: 20px;
}
.home-page #book-section .ceo-book .book-cover {
  position: absolute;
  right: 25px;
  bottom: -53px;
  width: 115px;
  text-align: center;
}
.home-page #book-section .ceo-book .book-cover .book-btn {
  background: linear-gradient(to right, #0045FF, #ABE6ED);
  border-radius: 50px;
  position: relative;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}
.home-page #book-section .ceo-book .book-cover .book-btn .btn-border {
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
.home-page #book-section .ceo-book .book-cover .book-btn:hover .btn-border {
  background: transparent;
}
.home-page #action-section {
  margin-top: 70px;
  padding: 10px 0;
}
.home-page #action-section .action {
  font-family: "FivoSansVN-Regular";
  margin-left: 70px;
  text-align: right;
}
.home-page #action-section .action h4 {
  font-size: 48px;
}
.home-page #action-section .value-text {
  font-family: "FivoSansVN-Regular";
  max-width: 620px;
}
.home-page #action-section .row-part {
  font-family: "FivoSansVN-Regular";
}
.home-page #action-section .row-part .part-cover {
  display: flex;
}
.home-page #action-section .row-part .part-cover .part-left {
  width: 34%;
  float: left;
}
.home-page #action-section .row-part .part-cover .part-right {
  width: 60%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.home-page #action-section .row-part .part-cover .part-right img {
  margin-left: auto;
}
.home-page #action-section .row-part-reverse {
  font-family: "FivoSansVN-Regular";
}
.home-page #action-section .row-part-reverse .part-cover .part-left {
  width: 40%;
  float: left;
  display: flex;
  justify-content: left;
  align-items: center;
}
.home-page #action-section .row-part-reverse .part-cover .part-right {
  width: 34%;
  float: left;
  margin-left: 90px;
}
.home-page #tin-tuc-su-kien {
  background-image: url("../images/img-bg-tin-tuc.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: block;
  position: relative;
  height: 675px;
}
.home-page #tin-tuc-su-kien .title-cover {
  font-family: "FivoSansVN-Regular";
}
.home-page #tin-tuc-su-kien .title-cover h1 {
  font-size: 48px;
}
.home-page #tin-tuc-su-kien .title-cover p {
  font-size: 14px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay {
  display: block;
  width: 100%;
  height: 510px;
  background: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc {
  display: block;
  position: relative;
  width: 362px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw {
  position: relative;
  display: block;
  background: #0044FF;
  width: 100px;
  height: 334px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle {
  position: absolute;
  background-color: #0044FF;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -15px;
  top: 50%;
  right: 5px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle:before,
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle,
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle:before,
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle:after {
  width: 4em;
  height: 4em;
  border-top-right-radius: 30%;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .bg-arraw .arrow-triangle.right {
  transform: rotate(30deg) skewX(-30deg) scale(1, 0.866) translateY(-50%);
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image {
  font-family: "FivoSansVN-Regular";
  background-size: 60%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 255px;
  height: 275px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image h5 {
  font-size: 23px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-1 {
  background-image: url(../images/img_news_1.png);
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-1 img {
  position: absolute;
  top: 25px;
  right: 36px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-2 {
  background-image: url(../images/img_news_2.png);
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-2 img {
  position: absolute;
  top: 25px;
  right: 22px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-3 {
  background-image: url(../images/img_news_3.png);
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .card-tin-tuc .card-image-3 img {
  position: absolute;
  top: 25px;
  right: 36px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .seach-filter {
  width: 84%;
  background: #f9f9f9;
  padding: 15px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1140px;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .seach-filter .search-box {
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  background: #f9f9f9;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .seach-filter .search-box:focus {
  outline: 0;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .seach-filter .select-sort {
  padding: 10px;
  border: 0;
  background: #ECECEC;
}
.home-page #tin-tuc-su-kien .cover-banner-bottom-overlay .seach-filter .select-sort:focus {
  outline: 0;
}
.home-page #listing-section .listing-cover {
  width: 84%;
  background: #fff;
  padding: 10px;
  margin: auto;
}
.home-page #listing-section .listing-cover .circle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
}
.home-page #listing-section .listing-cover .circle-blue {
  background: #0045FF;
}
.home-page #listing-section .listing-cover .circle-grey {
  background: #808080;
}
.home-page #listing-section .listing-cover .content-center {
  display: flex;
  justify-content: left;
  align-items: center;
}
.home-page #listing-section .listing-cover .content-center .date, .home-page #listing-section .listing-cover .content-center .avatar {
  margin-right: 15px;
}
.home-page #listing-section .listing-cover .content-center .date h4 {
  font-size: 50px;
  color: #f1f1f1;
}
.home-page #listing-section .listing-cover .content-center .date h4 span {
  position: absolute;
  font-size: 14px;
  top: 67%;
  left: -10px;
  z-index: 1;
  color: #999999;
  display: block;
}
.home-page #listing-section .listing-cover .content-center .content-detail {
  flex: 1 1 100%;
}
.home-page #listing-section .listing-cover .content-center .content-detail .bottom-text {
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-size: 12px;
}
.home-page #listing-section .listing-cover .content-center .content-detail .bottom-text .left-box, .home-page #listing-section .listing-cover .content-center .content-detail .bottom-text .right-box {
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.home-page #listing-section .listing-cover .content-center .content-detail .bottom-text .left-box {
  margin-right: 20px;
}
.home-page #listing-section .listing-cover .book-btn {
  background: linear-gradient(to right, #0045FF, #ABE6ED);
  border-radius: 50px;
  position: relative;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}
.home-page #listing-section .listing-cover .book-btn .btn-border {
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
.home-page #listing-section .listing-cover .book-btn:hover .btn-border {
  background: transparent;
}
.home-page #listing-section .listing-cover .disabled {
  opacity: 0.3;
}
.home-page #listing-section .listing-cover .disabled .book-btn {
  background: linear-gradient(to right, #b6b6b6, #dedede);
}
.home-page #listing-section .listing-cover .disabled .book-btn .btn-border {
  background: transparent;
}
.home-page #doi-tac {
  font-family: "FivoSansVN-Regular";
}
.home-page #doi-tac .title-cover {
  font-size: 48px;
}
.home-page #doi-tac .doi-tac-text {
  width: 84%;
  background: #fff;
  padding: 10px;
  margin: auto;
}

.huan-luyen-page {
  font-family: "FivoSansVN-Regular";
}
.huan-luyen-page #header {
  background: #205bdd;
  position: relative;
  display: block;
  width: 100%;
  height: 1186px;
  padding-top: 10px;
  color: #fff;
}
.huan-luyen-page #header #top-header .top-logo-cover img {
  width: 172px;
}
.huan-luyen-page #header #top-header .menu-item {
  color: #fff;
}
.huan-luyen-page #header #top-header .menu-item:hover {
  color: #000;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-item {
  animation-duration: 2s;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-dots .owl-dot {
  background: #163dd6;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-dots .owl-dot span {
  display: none;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-dots .owl-dot:focus {
  outline: 0;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-dots .active {
  background: #6bcbfe;
}
.huan-luyen-page #header #banner-header .owl-theme .owl-dots {
  position: absolute;
  margin: 0;
  justify-content: left;
  top: 250px;
  left: 5px;
}
.huan-luyen-page #header #banner-header .owl-carousel .animate-in .animateFlip {
  animation: flipInY;
  animation-duration: 2s;
  animation-delay: 0.4s;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image .dong {
  display: flex;
  justify-content: space-around;
  flex: 1 1 100%;
  margin-bottom: 8px;
  height: 246px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image .dong .trong1 {
  width: 266px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image .dong .image1, .huan-luyen-page #header #banner-header .wrapper-slide-image .dong .image2, .huan-luyen-page #header #banner-header .wrapper-slide-image .dong .image3 {
  width: 246px;
  margin-right: 8px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image .dong .trong2 {
  width: 317px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong2 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong2 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong2 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong2 .trong1 {
  width: 519px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong2 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong2 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong2 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong2 .trong2 {
  width: 62px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong3 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong3 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong3 .trong1, .huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong3 .trong1 {
  width: 1028px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong3 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong3 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong3 .trong2, .huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong3 .trong2 {
  width: 62px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong2 .image1 .overlay-blue, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong2 .image1 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 246px;
  height: 246px;
  transform: translate(-50%, -50%);
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong2 .image2 .overlay-blue, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong2 .image2 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 8px;
  top: 100%;
  width: 246px;
  height: 246px;
  transform: translate(-50%, -50%);
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-1 .dong2 .image3 .overlay-blue, .huan-luyen-page #header #banner-header .wrapper-slide-image-2 .dong2 .image3 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  right: -25%;
  top: -60%;
  width: 246px;
  height: 246px;
  transform: translate(-4px, 4px);
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong1 .image1 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 100%;
  width: 246px;
  height: 246px;
  transform: translate(-75%, -25%);
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong1 .trong2 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  width: 246px;
  height: 246px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-3 .dong3 .image1 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 25%;
  top: 60%;
  width: 246px;
  height: 246px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong1 .image1 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: -40%;
  top: 0;
  width: 246px;
  height: 246px;
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong1 .trong2 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 100%;
  width: 246px;
  height: 246px;
  transform: translate(-50%, -50%);
}
.huan-luyen-page #header #banner-header .wrapper-slide-image-4 .dong3 .image1 .overlay-blue {
  background-image: url(../images/img_bg-7.png);
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: -100%;
  top: 60%;
  width: 246px;
  height: 246px;
}
.huan-luyen-page #header #banner-header .banner-text {
  position: absolute;
  left: 0;
  top: 260px;
}
.huan-luyen-page #header #banner-header .banner-text h2 {
  font-size: 76px;
}
.huan-luyen-page #header #banner-header .ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  transform: rotate(5deg) scaleX(1.2);
  -ms-transform: rotate(5deg) scaleX(1.2);
  /* IE 9 */
  -moz-transform: rotate(5deg) scaleX(1.2);
  /* Firefox */
  -webkit-transform: rotate(5deg) scaleX(1.2);
  /* Safari and Chrome */
  -o-transform: rotate(5deg) scaleX(1.2);
  /* Opera */
  position: absolute;
  left: -300px;
  right: -300px;
  bottom: 60px;
  padding: 10px 0;
  z-index: 9;
  background-image: linear-gradient(to left, #0045FF, #ABE6ED);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  color: #000;
  font-size: 42px;
  overflow-x: hidden;
  white-space: nowrap;
}
.huan-luyen-page #header #banner-header .ribbon #maindiv {
  overflow: hidden;
  white-space: nowrap;
}
.huan-luyen-page #header #banner-header .ribbon #div1 {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
.huan-luyen-page #header #banner-header .ribbon #div2 {
  display: inline-block;
  animation: marquee2 10s linear infinite;
  animation-delay: 5s;
}
.huan-luyen-page #header #banner-header .triangle {
  background-image: linear-gradient(to right top, white 0%, white 50%, transparent 50%);
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0px;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
.huan-luyen-page #content .bg-image {
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 430px;
}
.huan-luyen-page #content .bg-image-1 {
  background-image: url("../images/1.png");
}
.huan-luyen-page #content .bg-image-2 {
  background-image: url("../images/2.png");
}
.huan-luyen-page #content .bg-image-3 {
  background-image: url("../images/3.png");
}
.huan-luyen-page #content .text-left-cover {
  display: block;
  padding-top: 50px;
  padding-left: 125px;
}
.huan-luyen-page #content .text-left-cover .folder-cover {
  display: flex;
  justify-content: left;
  align-items: center;
}
.huan-luyen-page #content .text-left-cover .folder-cover img {
  margin-right: 10px;
}
.huan-luyen-page #content .text-left-cover h5 {
  font-size: 18px;
  margin: 0;
}
.huan-luyen-page #content .text-left-cover h2 {
  font-size: 67px;
}
.huan-luyen-page #content .text-right-cover-2 {
  display: block;
  padding-top: 60px;
  padding-left: 135px;
}
.huan-luyen-page #content .text-right-cover-2 .folder-cover {
  display: flex;
  justify-content: left;
  align-items: center;
}
.huan-luyen-page #content .text-right-cover-2 .folder-cover img {
  margin-right: 10px;
}
.huan-luyen-page #content .text-right-cover-2 h5 {
  font-size: 18px;
  margin: 0;
}
.huan-luyen-page #content .text-right-cover-2 h2 {
  font-size: 67px;
}
.huan-luyen-page #content .move-left-1 {
  margin-left: -90px;
}
.huan-luyen-page #content .move-left-2 {
  margin-left: -30px;
}
.huan-luyen-page #content input {
  border: 0;
  color: #000;
  width: 100%;
  padding: 5px;
  font-size: 11px;
  font-weight: 700;
}
.huan-luyen-page #content input:focus {
  outline: 0;
  border: 0;
}
.huan-luyen-page #content textarea {
  width: 100%;
  border: 4px solid #000;
  padding: 10px;
  color: #000;
  font-size: 11px;
  font-weight: 700;
}
.huan-luyen-page #content .book-btn {
  background: linear-gradient(to left, #0045FF, #ABE6ED);
  border-radius: 50px;
  position: relative;
  padding: 7px 45px;
  text-align: center;
  cursor: pointer;
}
.huan-luyen-page #content .book-btn:hover .btn-border {
  background: transparent;
}
.huan-luyen-page #doi-tac {
  padding: 30px 0px;
}
.huan-luyen-page #doi-tac .personal-cover {
  display: flex;
  align-items: center;
}
.huan-luyen-page #doi-tac .personal-cover .text {
  margin-left: 10px;
}
.huan-luyen-page #doi-tac .personal-cover .text h5 {
  color: #ff4016;
  font-weight: 700;
  font-size: 18px;
}
.huan-luyen-page #doi-tac .personal-cover .text p {
  padding-left: 5px;
  color: #797979;
}
.huan-luyen-page #doi-tac #carouselIndicators {
  margin-bottom: 80px;
}
.huan-luyen-page #doi-tac #carouselIndicators .carousel-indicators {
  margin: 0;
  bottom: -70px;
}
.huan-luyen-page #doi-tac #carouselIndicators .carousel-indicators .circle {
  background: #282d40;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.huan-luyen-page #doi-tac #carouselIndicators .carousel-indicators .circle .center {
  background: #282d40;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.huan-luyen-page #doi-tac #carouselIndicators .carousel-indicators .active {
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 4px;
  border: 1px solid #282d40;
}

.gia-tri-cot-loi-page {
  font-family: "FivoSansVN-Regular";
}
.gia-tri-cot-loi-page #header .image-cover img {
  width: 95%;
}
.gia-tri-cot-loi-page #header h1 {
  font-size: 100px;
}
.gia-tri-cot-loi-page #content {
  display: block;
  width: 100%;
  padding-bottom: 50px;
}
.gia-tri-cot-loi-page #content .row-part .part-cover {
  display: flex;
}
.gia-tri-cot-loi-page #content .row-part .part-cover .part-left {
  display: flex;
  justify-content: right;
  align-items: center;
}
.gia-tri-cot-loi-page #content .row-part .part-cover .part-left img {
  margin-left: auto;
}
.gia-tri-cot-loi-page #content .row-part .part-cover .part-right {
  width: 50%;
}
.gia-tri-cot-loi-page #content .row-part .part-cover .part-right .step .step-name {
  font-size: 14px;
}
.gia-tri-cot-loi-page #content .row-part .part-cover .part-right h3 {
  font-size: 40px;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover {
  display: flex;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover .part-left {
  width: 50%;
  margin-left: auto;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover .part-left .step .step-name {
  font-size: 14px;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover .part-left h3 {
  font-size: 40px;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover .part-right {
  display: flex;
  justify-content: left;
  align-items: center;
}
.gia-tri-cot-loi-page #content .row-part-reverse .part-cover .part-right img {
  margin-right: auto;
}
.gia-tri-cot-loi-page .bg-image {
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tu-van-page {
  font-family: "FivoSansVN-Regular";
}
.tu-van-page #header {
  width: 100%;
  display: block;
  position: relative;
  height: 763px;
}
.tu-van-page #header .bg-image {
  background-image: url("../images/img_bg-2.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 763px;
}
.tu-van-page #header .card-tu-van-1 {
  width: 400px;
  height: auto;
}
.tu-van-page #header .card-tu-van-2 {
  width: 500px;
  height: auto;
}
.tu-van-page #header .ribbon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-image: linear-gradient(to left, #0045FF, #ABE6ED);
  transform: rotate(-9deg);
  position: absolute;
  left: -100px;
  right: -100px;
  top: 1036px;
  padding: 0px 0;
  z-index: 10;
  overflow-x: hidden;
  white-space: nowrap;
}
.tu-van-page #header .ribbon-1 .text {
  font-size: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(1.3);
}
.tu-van-page #header .ribbon-1 #maindiv {
  overflow: hidden;
  white-space: nowrap;
}
.tu-van-page #header .ribbon-1 #div1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: marquee 10s linear infinite;
}
.tu-van-page #header .ribbon-1 #div2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: marquee2 10s linear infinite;
  animation-delay: 5s;
}
.tu-van-page #doi-tac {
  margin-top: 520px;
  padding-bottom: 50px;
}
.tu-van-page #doi-tac h4 {
  font-size: 48px;
}

.lich-chuong-trinh-va-su-kien-page {
  font-family: "FivoSansVN-Regular";
}
.lich-chuong-trinh-va-su-kien-page .left-part, .lich-chuong-trinh-va-su-kien-page .right-part {
  padding: 100px 0px;
}
.lich-chuong-trinh-va-su-kien-page .left-part img, .lich-chuong-trinh-va-su-kien-page .right-part img {
  width: 100%;
}
.lich-chuong-trinh-va-su-kien-page .left-part .ribbon-top-left, .lich-chuong-trinh-va-su-kien-page .right-part .ribbon-top-left {
  position: absolute;
  background: #9eeaf7;
  top: -15px;
  left: 0px;
  width: 260px;
  height: 210px;
  opacity: 0.9;
  padding: 25px;
}
.lich-chuong-trinh-va-su-kien-page .left-part .ribbon-top-left .text-at-center, .lich-chuong-trinh-va-su-kien-page .right-part .ribbon-top-left .text-at-center {
  color: #fff;
  font-size: 27px;
}
.lich-chuong-trinh-va-su-kien-page .left-part .ribbon-top-left .h4, .lich-chuong-trinh-va-su-kien-page .right-part .ribbon-top-left .h4 {
  font-size: 21px;
}
.lich-chuong-trinh-va-su-kien-page .left-part .text-bellow, .lich-chuong-trinh-va-su-kien-page .right-part .text-bellow {
  margin-top: 30px;
  padding: 0 40px;
}
.lich-chuong-trinh-va-su-kien-page .left-part .xem-tiep, .lich-chuong-trinh-va-su-kien-page .right-part .xem-tiep {
  padding: 0 40px;
  font-size: 6px;
  text-decoration: none;
  color: #ccc;
}
.lich-chuong-trinh-va-su-kien-page .center-part {
  padding: 100px 0px;
  flex-direction: column;
}
.lich-chuong-trinh-va-su-kien-page .center-part img {
  width: 88%;
}
.lich-chuong-trinh-va-su-kien-page .center-part .ribbon-top-left {
  position: absolute;
  background: #9eeaf7;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 710px;
  opacity: 0.9;
  padding-top: 30px;
  padding-left: 30px;
}
.lich-chuong-trinh-va-su-kien-page .center-part .ribbon-top-left .text-at-top {
  color: #124da7;
}
.lich-chuong-trinh-va-su-kien-page .center-part .ribbon-top-left .text-at-bottom {
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-size: 40px;
  color: #fff;
  padding-right: 20px;
}
.lich-chuong-trinh-va-su-kien-page .center-part .ribbon-top-left .h4 {
  font-size: 21px;
}
.lich-chuong-trinh-va-su-kien-page .center-part .text-bellow {
  margin-top: 30px;
  padding: 0 180px 0px 270px;
}
.lich-chuong-trinh-va-su-kien-page .center-part .xem-tiep {
  padding: 0 180px 0px 270px;
  font-size: 6px;
  text-decoration: none;
  color: #ccc;
}
.lich-chuong-trinh-va-su-kien-page #content .seach-filter {
  background: #f9f9f9;
  padding: 15px;
}
.lich-chuong-trinh-va-su-kien-page #content .seach-filter .search-box {
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  background: #f9f9f9;
}
.lich-chuong-trinh-va-su-kien-page #content .seach-filter .search-box:focus {
  outline: 0;
}
.lich-chuong-trinh-va-su-kien-page #content .seach-filter .select-sort {
  padding: 10px;
  border: 0;
  background: #ECECEC;
}
.lich-chuong-trinh-va-su-kien-page #content .seach-filter .select-sort:focus {
  outline: 0;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover {
  background: #fff;
  padding: 10px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .circle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .circle-blue {
  background: #0045FF;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .circle-grey {
  background: #808080;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center {
  display: flex;
  justify-content: left;
  align-items: center;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .date, .lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .avatar {
  margin-right: 15px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .date h4 {
  font-size: 50px;
  color: #f1f1f1;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .date h4 span {
  position: absolute;
  font-size: 14px;
  top: 67%;
  left: -10px;
  z-index: 1;
  color: #999999;
  display: block;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .content-detail {
  flex: 1 1 100%;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .content-detail .bottom-text {
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-size: 12px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .content-detail .bottom-text .left-box, .lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .content-detail .bottom-text .right-box {
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .content-center .content-detail .bottom-text .left-box {
  margin-right: 20px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .book-btn {
  background: linear-gradient(to right, #0045FF, #ABE6ED);
  border-radius: 50px;
  position: relative;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .book-btn .btn-border {
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .book-btn:hover .btn-border {
  background: transparent;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .disabled {
  opacity: 0.3;
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .disabled .book-btn {
  background: linear-gradient(to right, #b6b6b6, #dedede);
}
.lich-chuong-trinh-va-su-kien-page #content .listing-cover .disabled .book-btn .btn-border {
  background: transparent;
}

.chuong-trinh-chi-tiet-page .center-part {
  padding: 100px 0px 50px;
}
.chuong-trinh-chi-tiet-page .center-part img {
  width: 88%;
}
.chuong-trinh-chi-tiet-page .center-part .ribbon-top-left {
  position: absolute;
  background: #9eeaf7;
  top: 0px;
  left: 0px;
  width: 246px;
  height: 785px;
  opacity: 0.9;
  padding-top: 30px;
  padding-left: 30px;
}
.chuong-trinh-chi-tiet-page .center-part .ribbon-top-left .text-at-bottom {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 40px;
  color: #fff;
  padding-right: 20px;
}
.chuong-trinh-chi-tiet-page #content input {
  font-family: "Corsa Grotesk VN Bold";
  border: 0;
  color: #000;
  width: 100%;
  padding: 15px 5px;
  font-size: 11px;
}
.chuong-trinh-chi-tiet-page #content input:focus {
  outline: 0;
  border: 0;
}
.chuong-trinh-chi-tiet-page #content input[type=radio] {
  display: inline-block;
}
.chuong-trinh-chi-tiet-page #content label {
  font-family: "Corsa Grotesk VN Bold";
}
.chuong-trinh-chi-tiet-page #content .book-btn {
  background: linear-gradient(to left, #0045FF, #ABE6ED);
  border-radius: 50px;
  position: relative;
  padding: 7px 45px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}
.chuong-trinh-chi-tiet-page #content .book-btn:hover .btn-border {
  background: transparent;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-cover {
  padding: 20px;
  background: #3a6cf1;
  color: #fff;
  font-size: 16px;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5px;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .left-cover {
  text-align: right;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .left-cover * {
  margin: 0;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .left-cover h5 {
  font-size: 16px;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .left-cover p {
  font-size: 14px;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .circle {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  margin-left: 15px;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .circle-pink {
  background: #fddcd7;
}
.chuong-trinh-chi-tiet-page #content .hoi-thao-box-cover .box-below-cover .circle-blue {
  background: #016ef1;
}

/*# sourceMappingURL=main.css.map */
